body{
    background-color: aqua;
}
.container{
    width: 400px;
    height: 300px;
    margin: 100px auto;
    perspective:1500px;
 }
.images-box{
    transform: translateZ(-550px);
    transform-style: preserve-3d;
    transition: transform 1s;
}
.images-box-cell{
    width: 400px;
    height: 300px;
    position:absolute;
}
.images-box-cell img{
    width: 360px;
    height: 300px;
}
.images-box-cell:nth-child(1){
    transform: rotateY(0deg) translateZ(550px);
}
.images-box-cell:nth-child(2){
    transform: rotateY(40deg) translateZ(550px);
}
.images-box-cell:nth-child(3){
    transform: rotateY(80deg) translateZ(550px);
}
.images-box-cell:nth-child(4){
    transform: rotateY(120deg) translateZ(550px);
}
.images-box-cell:nth-child(5){
    transform: rotateY(160deg) translateZ(550px);
}
.images-box-cell:nth-child(6){
    transform: rotateY(200deg) translateZ(550px);
}
.images-box-cell:nth-child(7){
    transform: rotateY(240deg) translateZ(550px);
}
.images-box-cell:nth-child(8){
    transform: rotateY(280deg) translateZ(550px);
}
.images-box-cell:nth-child(9){
    transform: rotateY(320deg) translateZ(550px);
}
.bt{
   position: absolute;
   bottom: 10px; 
}
button{
    width: 80px;
    height: 30px;
    margin: 0 30px;
     border-radius: 10px;
    border-color: azure;
    opacity: 0.7;
}